body
{
    font-size:30px;
    background-color: aliceblue;
}
.italik
{
    font-style: italic;
}
.buyukharf
{
    text-transform:uppercase;
}
.basharfbuyuk
{
    text-transform: capitalize;
}
.kalin
{
    font-weight: bold;
}
.onemli
{
    font-size:35px;
    color: blueviolet;
}